<!-- <div>
  <h1 id="header-title">Welcome</h1>

  <button routerLink="/add-product" id="add-product-btn" class="btn">
    Add product
  </button>

  <button (click)="toggleAccount()" id="add-product-btn" class="btn">
    Change Account
  </button>

  <div id="products-container" class="products">
    <h3 id="products-title">List of products</h3>
    <div class="search">
      <form [formGroup]="searchText">
        <input type="text" placeholder="search" formControlName="text" />
      </form>
    </div>
    <div id="products-grid" class="product-grid">
      @for (product of getProduct; track $index) {
      <div id="product-{{ product.id }}" class="product-card">
        <div class="product-image">
          <img [src]="product.images[0]" alt="{{ product.title }}" class="product-img" />
        </div>
        <div class="product-info">
          <h4 class="product-title">{{ product.title }}</h4>
          <p class="product-id">ID: {{ product.id }}</p>
          <p class="product-price">Price: {{ product.price | rupee }}</p>
        </div>
        <div class="product-actions">
          <button [routerLink]="'/edit/' + product.id" class="btn product-edit-btn">
            Edit
          </button>
          <button class="btn product-delete-btn" (click)="onDelete(product.id)">
            Delete
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div> -->


<div>
  <h1 id="header-title">Welcome</h1>

  <button pButton type="button" label="Add Product"
    icon="pi pi-plus" [routerLink]="role() + '/add-product'"
    id="add-product-btn" class="p-mb-3"></button>
  <button pButton type="button" label="Change Account" (click)="toggleAccount()"
    icon="pi pi-plus" id="add-product-btn"
    class="p-mb-3"></button>
  <div id="products-container" class="products">
    <h3 id="products-title">List of Products</h3>

    <div class="search">
      <form [formGroup]="searchText">
        <input pInputText type="text" placeholder="Search"
          formControlName="text" class="p-mr-2 p-mb-3" />
      </form>
    </div>

    <div id="products-grid" class="p-grid">
      @for (product of getProduct(); track $index) {
      <div class="p-col-12 p-md-4">
        <p-card header="{{ product.title }}" subheader="ID: {{ product.id }}">
          <ng-template pTemplate="content">
            <div class="product-image">
              <img [src]="product.images[0]" alt="{{ product.title }}"
                class="product-img p-shadow-3" />
            </div>
            <div class="product-info p-mt-3">
              <p class="product-price">Price: {{ product.price | rupee }}</p>
            </div>
            <div class="product-actions p-mt-3">

              <button pButton type="button" label="Edit" icon="pi pi-pencil"
                class="p-button-success p-mr-2"
                [routerLink]="role() + '/edit/' + product.id"
                *appCustomDirective="checkAdmin()"></button>

              <button pButton type="button" label="Delete" icon="pi pi-trash"
                class="p-button-danger"
                (click)="onDelete(product.id)"
                *appCustomDirective="checkAdmin()"></button>
            </div>
          </ng-template>
        </p-card>
      </div>
      }
    </div>
  </div>
</div>